<template>
  <svg viewBox="0 0 130 104" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><rect fill="#F9F9F9" y="34" width="130" height="70" rx="6"/><rect fill="#FFF" width="130" height="32" rx="6"/><path d="M6 4a2 2 0 0 0-2 2v20a2 2 0 0 0 2 2h118a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2H6zm0-4h118a6 6 0 0 1 6 6v20a6 6 0 0 1-6 6H6a6 6 0 0 1-6-6V6a6 6 0 0 1 6-6z" fill="#EEE" fill-rule="nonzero"/><path d="M14 14h21a2 2 0 1 1 0 4H14a2 2 0 1 1 0-4z" fill="#E1DBF1"/><path d="M112 16.414l2.828-2.828a2 2 0 0 1 2.829 2.828l-4.243 4.243a2 2 0 0 1-2.828 0l-4.243-4.243a2 2 0 1 1 2.829-2.828L112 16.414z" fill="#6B4FBB"/><g transform="translate(0 34)"><rect fill="#FFF" width="130" height="66" rx="6"/><path d="M6 4a2 2 0 0 0-2 2v54a2 2 0 0 0 2 2h118a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2H6zm0-4h118a6 6 0 0 1 6 6v54a6 6 0 0 1-6 6H6a6 6 0 0 1-6-6V6a6 6 0 0 1 6-6z" fill="#EEE" fill-rule="nonzero"/><path d="M14 13h31a2 2 0 1 1 0 4H14a2 2 0 1 1 0-4z" fill="#E1DBF1"/><path d="M14 25h41a2 2 0 1 1 0 4H14a2 2 0 1 1 0-4z" fill="#C3B8E3"/><path d="M14 37h61a2 2 0 1 1 0 4H14a2 2 0 1 1 0-4z" fill="#E1DBF1"/><path d="M14 49h41a2 2 0 1 1 0 4H14a2 2 0 1 1 0-4z" fill="#C3B8E3"/></g></g></svg>
</template>
